.wraper {
    font-family: 'Roboto flex';
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.link-title a {
    text-decoration: none;
    font-family: 'Roboto';
    width: 334px;
    font-weight: 400;
    font-size: 80px;
    color: #000000;
}
.link-title {
    text-align: left;
    margin-top: 38px;
}   
.link-title a span {
    color: #4BCAFF;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: #35444F;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;    
}
.nav {
    margin-top: 38px;
    margin-bottom: 48px;
}
.navigation li {
    border-left: #FFFFFF 1px solid;
    box-sizing: border-box;
    padding: 26px 40px 19px 40px;
}
.navigation li:last-child {
    border-right: #FFFFFF 1px solid;
}
.navigation li a {
    text-decoration: none;
    color: #FFFFFF;
}
.navigation li:hover {
    background: #222F3A;;
}
.sidecontent {
    display: flex;
    justify-content: space-between;
}
.sidebar {
    border: 1px solid #0000005e;
    width: 344px;
    height: 385px;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
}
.sidebar .side-item {
    text-align: left;
    padding: 25px 0 25px 44px;
    transition: 0.3s;
}
.sidebar .side-item a {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.sidebar li:hover {
    background: #DBDBDB;
    padding-left: 80px;
}
.sidebar li a:hover {
    color: #35444F;
}
.content {
    display: flex;
    flex-direction: column;    
    width: 885px;
    gap: 34px;
}
.content p {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.picture {
    border: 1px solid #0000005e;
    display: flex;
    justify-content: center;    
}
.picture img {
    padding: 75px 0;
}
.picture-grow {
    transition: 1s;
}
.picture-grow:hover {
    transform: scale(1.2);
}
.sidebar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
}
.sidebar-bottom ul {
    display: flex;
}
.sidebar-bottom .side-item {
    padding-left: 40px;
}
.sidebar-bottom .side-item a {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.sidebar-bottom .side-item a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
}
.sidebar-bottom p {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 20px 40px 20px 0;
}